<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Get CRUD</title>
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td,
    th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
  </style>
</head>

<body>
  <h2>HTML Table</h2>

  <table>
    <tr>
      <th>Email</th>
      <th>FirstName</th>
      <th>LastName</th>
      <th>Address</th>
    </tr>
    <% for(let i=0; i < dataTable.length; i++) { %>
      <tr>
        <td>
          <%= dataTable[i].email %>
        </td>
        <td>
          <%= dataTable[i].firstName %>
        </td>
        <td>
          <%= dataTable[i].lastName %>
        </td>
        <td>
          <%= dataTable[i].address %>
        </td>
      </tr>
      <% } %>
  </table>
</body>

</html>